@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.font-cabin{
  font-family: "Cabin", sans-serif;
}
.font-signika{
  font-family: "Signika Negative", sans-serif;
}
.font-karlos{
  font-family: "Karla", sans-serif;
}
.font-dancing{
  font-family: "Dancing Script", cursive;
}
.lora {
  font-family: "Lora", serif;
}
::-webkit-scrollbar {
  width: 6px;
  height: 30px; 
  background-color: #f0f0f0;
}


::-webkit-scrollbar-track {
  border-radius: 20px;
}


::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 255); 
  border-radius: 5px; 
}
.navbar {
  transition: height 0.3s ease, padding 0.3s ease;
}

.navbar-expanded {
  height: 70px; 
  padding-top: 20px;
  padding-bottom: 10px;
}

.navbar-collapsed {
  height: 50px; /* Initial height */
  
}
.spin-on-hover:hover {
  transition: transform 0.9s ease-in-out;
  transform: rotateY(360deg);
}
/* for contact form*/
.hover-effect {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.hover-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 107, 37);
  transition: left 0.5s ease;
  z-index: -1;
}
.hover-effect:hover::after {
  left: 0;
}
.hover-effect span {
  position: relative;
  z-index: 1;
}

